<div class="carousel-container" *ngIf="images && images.length > 0">
  <img *ngFor="let image of images; let i =index"
    [src]="image.src"
    [alt]="image.alt"
    [ngClass]="{'image-active' : selectedIndex === i}"
    class="fade">
  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{'active' : selectedIndex === i}"
      (click)="selectImage(i)"></span>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev"
    (click)="onPrevClick()">
    <img src="assets/images/carousel/arrow.png"
      alt="carousel prev"
      class="icon-carousel icon-prev">
  </button>
  <button *ngIf="controls" class="btn-carousel btn-next"
    (click)="onNextClick()">
    <img src="assets/images/carousel/arrow.png"
      alt="carousel next"
      class="icon-carousel icon-next">
  </button>
</div>
