<div class="container">
  <div class="form-wrapper">
    <h2>Password reset</h2>
    <form action="" class="form" [formGroup]="passwordResetForm">
      <!-- Error message -->
      <small class="validation-message"
        *ngIf="passwordResetForm.controls['Password'].dirty && passwordResetForm.hasError('required', 'Password')">
        *New password is required
      </small>
      <small class="validation-message"
        style="white-space:pre-wrap;"
        *ngIf="passwordValidationMessage"
        [innerHTML]="passwordValidationMessage">
      </small>
      <!-- Input -->
      <div class="input-wrapper" [class.error]="passwordResetForm.controls['Password'].dirty && passwordResetForm.hasError('required', 'Password') || passwordValidationMessage">
        <span class="fa fa-lock input-icon"></span>
        <input (change)="resetPasswordValidation()" formControlName="Password" [type]="type" type="text" class="form-input" name="Password" placeholder="New password" required>
        <span (click)="togglePasswordVisibility()" class="fa {{eyeIcon}}"></span>
      </div>

      <!-- Error message -->
      <small class="validation-message"
        *ngIf="passwordResetForm.controls['PasswordConfirm'].dirty && passwordResetForm.hasError('required', 'PasswordConfirm')">
        *New password confirmation is required
      </small>
      <!-- Error message -->
      <small class="validation-message"
        *ngIf="passwordResetForm.hasError('confirmPasswordValidator', 'PasswordConfirm')">
        *Password doesn't match
      </small>
      <!-- Input -->
      <div class="input-wrapper" [class.error]="passwordResetForm.controls['PasswordConfirm'].dirty && passwordResetForm.hasError('required', 'PasswordConfirm')">
        <span class="fa fa-lock input-icon"></span>
        <input formControlName="PasswordConfirm" [type]="typeConfirm" type="text" class="form-input" name="PasswordConfirm" placeholder="Confirm new password" required>
        <span (click)="togglePasswordVisibilityConfirm()" class="fa {{eyeIconConfirm}}"></span>
      </div>

      <button
        (click)="onSubmit()"
        type="submit"
        class="btn-primary">
        Reset password
      </button>
    </form>
  </div>
</div>
