<nav>
  <div class="navbar-left">
    <!-- <img src="assets/logo.png" alt="Web Shop Logo"> -->
    WEB SHOP
  </div>
  <div class="navbar-center">
    <a class="navbar-link active" href="">{{'Navbar.Home' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.Products' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.About' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.Contact' | translate}}</a>
  </div>
  <div class="navbar-right">
    <div class="navbar-search">
      <span><img class="search-icon" src="assets/images/search.png" alt="Search icon"/></span>
      <input class="search-input" type="text" placeholder="{{'Navbar.Search' | translate}}">
    </div>
    <a class="navbar-link" href="cart"><img class="navbar-icon" src="assets/images/cart.png" alt="Cart icon"/>{{numberOfItems}}</a>
    <select class="navbar-language-select" (change)="setLanguage($event.target)" name="language" title="language">
      <option class="navbar-language" value="en" selected>
        <img class="navbar-language-flag" src="assets/images/flags/en.png" alt="EN Flag"/>
        EN
      </option>
      <option class="navbar-language" value="ba">
        <img class="navbar-language-flag" src="assets/images/flags/ba.png" alt="BA Flag"/>
        BA
      </option>
    </select>
  </div>
</nav>
