<nav>
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Web Shop Logo">
  </div>
  <div class="navbar-center">
    <a class="navbar-link active" href="">{{'Navbar.Home' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.Products' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.About' | translate}}</a>
    <a class="navbar-link" href="">{{'Navbar.Contact' | translate}}</a>
  </div>
  <div class="navbar-right">
    <a class="navbar-link" href="">Search</a>
    <a class="navbar-link" href="cart">Cart</a>
    <select (change)="setLanguage($event.target)">
      <option class="navbar-language" value="en" selected>EN</option>
      <option class="navbar-language" value="ba">BA</option>
    </select>
  </div>
</nav>
