/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import './variables.scss';

body {
  margin: 0;
  background: $primary_color;
  color: $primary_text_color;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  padding-top: 80px;
}
